@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background: #2E3440;
    color: #D8DEE9;
}

h1 {
    font-weight: 700;
}

p{
    padding: 20px 0;
}

span {
    font-weight: 500;
}

h1,
span {
    text-align: center;
    width: 100%;
}

h1,
#counter {
    font-size: 50px !important;
}

button {
    border: none;
    padding: 10px 25px;
    background: #88C0D0;
    color: #4C566A;
    font-size: 40px;
    font-weight: 300;
    cursor: pointer;
}

button:hover {
    background: #6facbd;
}