{{define "T"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>{{.PageTitle}}</h1>
    <p>
        <span id="counter">{{.Counter}}</span>
    </p>
    <button onclick="increaseCounter()">Increment</button>

    <script>
        function increaseCounter() {
            var e = document.getElementById("counter");
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    e.innerText = xhr.responseText;
                }
            }
            xhr.open("GET", "/counter/increment", true);
            try { xhr.send(); } catch (err) { /* handle error */ }
        }
    </script>
</body>

</html>
{{end}}

{{define "V"}}{{.Counter}}{{end}}